
@media only screen and (max-width: 768px) {
    body {
      margin: 2%;
      font-size: 14px;
    }
  
    h1 {
      font-size: 1.5em;
      padding: 5px;
      margin-bottom: 5px;
    }
  
    p {
        margin: 1px;
    }
  
    .scores {
      font-size: 1em;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5px;
    }
  
    .choices {
      flex-direction: column;
      align-items: center;
      margin: 1px;
    }
  
    .choices div {
      margin: 1px;
    }
  
    .choices img {
      width: 25vw;
      height: 25vw;
      max-width: 100px;
      max-height: 100px;
    }
  
    button.rematch-button {
      font-size: 1em;
      padding: 5px 10px;
    }
  
    #result-text {
      font-size: 1em;
      margin: 5px 0;
    }
  }
  
  



body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin-top: 0;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .choices img {
    width: 150px;
    height: 150px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
  }
  
  .choices div {
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
 
.charmander:hover img,
.charmander:hover p {
  background-color: rgba(255, 140, 0, 0.3); 
}

.squirtle:hover img,
.squirtle:hover p {
  background-color: rgba(30, 144, 255, 0.3); 
}

.bulbasaur:hover img,
.bulbasaur:hover p {
  background-color: rgba(34, 139, 34, 0.3); 
}


.choices img,
.choices p {
  transition: background-color 0.3s ease;
}

  
  .scores {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
  }
  
  #result-text {
    font-size: 1.2em;
    margin-top: 20px;
  }

button.rematch-button {
    font-size: 1.2em;
    background-color: #4CAF50;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none; 
  }
  
  button.rematch-button:hover {
    background-color: #45a049;
  }
  
  #rematch-button-container {
    display: flex;
    justify-content: center;
  }